@font-face {
    font-family: Caveat;
    src: url(/src/Caveat/Caveat-VariableFont_wght.ttf);
}    
@font-face {
    font-family: Montserrat;
    src: url(/src/Montserrat-VariableFont_wght.ttf);
} 
@font-face {
    font-family: Wisdom;
    size-adjust: 150%;
    src: url(/src/WisdomVacation.ttf);
}
@font-face {
    font-family: Spring;
    src: url(/src/Springlake.ttf);  
}

/* 
Global Styles 
-----------------------------------------------------
*/

html {
    box-sizing: border-box;
}

body {
    background-color: #E3FEF3;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: auto 65% auto;
    grid-template-rows: repeat(3, auto);
    /* grid-template-rows: repeat(6, auto); */
    /* grid-gap: 10px; */
}

h1 {
    font-weight: 400;
    font-size: 80px;
    font-family: "Wisdom", cursive;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    font-family: "Spring", "Caveat", cursive;
    margin: 0;
}

h3 {
    font-family: cursive;
    font-size: 25px;
}

img {
    width: 300px;
    object-fit: contain;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

a {
    color: #FDC0B2;
    /* text-decoration: none; */
}

a:hover {
    color: #ff4400;
    font-weight: 500;
}

.side-wrapper {
    max-width: 150px;
    width: auto;
    margin: 15px 0 0;
    padding: 0 20px;
    font-size: smaller;
}

.content-wrapper {
    display: grid;
    grid-column: 1/4;
    grid-template-columns:  1fr 4fr 1fr;
    padding-top: 35px;
    row-gap: unset;
}

.content-wrapper > section {
    overflow: hidden;
}

.divider > section {
    /* overflow: hidden; */
    padding: 25px 0;
    border-bottom: 1px dashed gray;
}

.divider > section:last-of-type{
    border: none;
}

.subtitle {
    margin-top: 0;
    font-style: italic;
}
/* 
Header Styles 
-----------------------------------------------------
*/
header {
    grid-column: 1/4;
    /* grid-row: 1/2; */
    background-color: #008F70;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px;
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

.job-title {
    font-size: 40px;
}

#avatar {
    border: 1px solid #3b444e; 
    width: 13em;
    height: 13em;
    border-radius: 90%;
}
.description {
    margin-left: 2em;
    text-align: center;
}

@media screen and (max-width: 975px) {
    /* Header */
    #avatar {
        width: 10em;
        height: 10em;
    }
    .description {
        margin-left: 8px;
    }
    h1 {
        font-size: 60px;
    }
    .job-title {
        font-size: 25px;
    }
    .about-me {
        font-size: smaller;
    }
    .side-wrapper {
        font-size: smaller;
    }

    /* Navbar */
    nav {
        display: none;
    }
}
@media screen and (max-width: 750px) {   
    #avatar {
        width: 7em;
        height: 7em;
    }
    h1 {
        font-size: 40px;
    }
    .job-title {
        font-size: 20px;
    }
    .about-me {
        font-size: 10px;
    }
}
/* 
Navbar Styles 
-----------------------------------------------------
*/
nav {
    grid-column: 1/2;
    /* grid-row: 2; */
    justify-content: flex-end;
    line-height: 2.5;
}
.navbar {
    /* position: absolute; */
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.navbar li {
    text-align: center;
}

.link{
    color: #e58570;
}

/* 
Feature Projects Styles 
-----------------------------------------------------
*/
/* main {
    grid-column: 2/3;
    padding: 0 10px;
} */

#feature-projects {
    grid-row: 2;
    grid-column: 2/3;
    margin: 30px auto 0 auto;
    padding: 0;
}
#feature-projects > section{
    overflow: hidden;
}
#feature-projects > section img {
    float: left;
    margin: 0 30px 20px 0;
}

button {
    display: inline-block;
    background-color: #008F70;
    color: #FDC0B2;
    border: 1px #FFEFE5;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
}
button:hover {
    color: #f6927b;
    background-color: #01a582;
}

.content-wrapper > section img {
    float: left;
    margin: 0 30px 20px 0;
}

.project-item h3 {
    margin: 0;
}

.project-item p {
    margin: 10px 0 15px;
}

/* 
Work Experience Styles 
-----------------------------------------------------
*/
#work-experience {
    background-color: #A0C6D7;
}

.work-item {
    grid-column: 2/3;
}

.work-item h3, .work-item h3 ~ p  {
    margin: 0;
}
.work-item h3 + p {
    font-style: italic;
}
.work-item h3 ~ p:last-of-type {
    margin: 16px 0;
}
/* 
Education Styles 
-----------------------------------------------------
*/
#education {
    background-image: url("../image/certificates/dull-blue-paint-white.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}
#education > section {
    margin: 10px 0 25px;
}

.edu-item {
    margin-top: 10px;
}

.edu-item p{
    margin: 0;
    padding: 0;
    /* flex-direction: row; */
}

/* 
Certification & Skills Styles 
-----------------------------------------------------
*/

#cert-n-skills {
    background-color: #c5d6fc;
}

/* 
Information Styles 
-----------------------------------------------------
*/
.information {
    grid-column: 3/4;
    max-width: 200px;
    width: auto; 
}

.info-list {
    flex-direction: column;
    line-height: 2.5;
    padding: 0;
}

.display {
    /* text-align: left; */
    padding-bottom: 10px;
    display: grid;
    grid-row: auto;
    color: #e58570;
    grid-gap: 10px;
}

.display i {
    margin: 0;
    font-size: 1.3em;
    color: #ff4400;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    width: 50px;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}



/* 
Footer Styles 
-----------------------------------------------------
*/
footer {
    grid-column: 1/4;
    justify-content: center;
    background-color: #016663;
    padding: 20px 0;
}

footer h2 {
    text-align: center;
}

.footer-logo {
    justify-content: center;
}

.footer-item {
    padding: 0 30px;
}
.footer-item:hover{
    color: #FDC0B2;
    font-size: larger;
}
.footer-item a{
    color: inherit;
    font-size: inherit;
}

.footer-item i {
    padding-right: 10px;
    font-size: 1.5em;
}